<div ng-controller="CustomerDetailsViewController as details" class="container-fluid" style="padding: 20px;">
	<h3>My Details</h3>
	<form role="form">
	  <div class="form-group">
	    <label for="inputFirstName">First Name</label>
	    <input type="text" class="form-control" id="inputFirstName" placeholder="Enter First Name" value="{{ details.firstName }}">
	  </div>
	  <div class="form-group">
	    <label for="inputSurname">Surname</label>
	    <input type="text" class="form-control" id="inputSurname" placeholder="Enter Surname" value="{{ details.lastName }}">
	  </div>
	  <div class="form-group">
	    <label for="inputDOB">Date of Birth</label>
	    <input type="text" class="form-control" id="inputDOB" placeholder="Enter Date of Birth" value="{{ details.dateOfBirth }}">
	  </div>
	  <div class="form-group">
	    <label for="inputHouseNumber">House Number</label>
	    <input type="text" class="form-control" id="inputHouseNumber" placeholder="Enter House Number" value="{{ details.address.houseNumber }}">
	  </div>
	  <div class="form-group">
	    <label for="inputStreet">Street</label>
	    <input type="text" class="form-control" id="inputStreet" placeholder="Enter Street" value="{{ details.address.street }}">
	  </div>
	  <div class="form-group">
	    <label for="inputPostCode">Postcode</label>
	    <input type="text" class="form-control" id="inputPostCode" placeholder="Enter Postcode" value="{{ details.address.postalCode }}">
	  </div>
	  <div class="form-group">
	    <label for="inputCity">City</label>
	    <input type="text" class="form-control" id="inputCity" placeholder="Enter City" value="{{ details.address.city }}">
	  </div>
	  <div class="form-group">
	    <label for="inputCounty">County</label>
	    <input type="text" class="form-control" id="inputCounty" placeholder="Enter County" value="{{ details.address.county }}">
	  </div>
	  <div class="form-group">
	    <label for="inputCountry">Country</label>
	    <input type="text" class="form-control" id="inputCountry" placeholder="Enter Country" value="{{ details.address.country }}">
	  </div>
	</form>
</div>