*.class

# Package Files
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# General junk files
*.so
*.log
*.out
*~
*.swp
*.lock
.DS_Store

# Gradle
**/.gradle
**/.project
**/.settings
**/bin
**/pom.xml
.gradle/
**/lib/dependencies
**/build/
/out

#netbeans specific
core
nbproject/*
!nbproject/project.properties
!nbproject/project.xml