/* app css stylesheet */

body {
  font-family: "Source Sans Pro", sans-serif;
  color: #656565;
  background-color: #eee;
  padding-bottom: 75px;
}

li > a {
  color: #fff;
}

.modal-dialog {
  padding-top: 10%;
}

.nav-tabs {
  margin-right: 3px;
  background-color: gray;
}

.tab-content {
  border-radius: 0 4px 4px 4px;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  padding: 20px;
}

.help {
  font-size: 42px;
  float: right;
  margin-right: 15px;
  cursor: pointer;
}

.help:hover {
  text-decoration: none;
}

.ssl {
  height: 40px;
}

.signIn {
  width:100%;
  height: 100%;
}

.signIn span {
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
  display: block;
  width: 100%;
  text-align: center;
  max-width: 300px;
  padding: 15px;
  margin: 50px auto;
  cursor: pointer;
  vertical-align: middle;
  font-weight: 400;
  touch-action: manipulation;
  text-transform: none;
}

.signIn span:hover {
  background-color: #3071a9;
  border-color: #285e8e;
}

.signIn a:hover {
  text-decoration: none !important;
}

.searching {
  width: 300px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  text-align: center;
}

.findMe {
  font-size: 40px;
  padding-bottom: 20px;
}

.findMeDiv {
  text-align: center;
  cursor: pointer;
}

.barIcon {
    margin-right: 7px;
}

.container {
  background-color: white;
  padding-bottom: 25px;
  margin-top: 25px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.footer {
  padding-top: 100px;
  bottom:0;
  width:100%;
  height:60px;   /* Height of the footer */
}

.footer > .container {
  background-color: transparent !important;
  box-shadow: none;
  text-align: center;
}

.col-centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: none;
}

.balancePadding {
  padding-top: 5px;
}

.paddedButton {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}

.paddedForm {
  padding-left: 20%;
  padding-right: 20%;
}

.bt-link {
  border-top-width: 0 !important;
}

.angular-google-map-container { height: 400px; }

.navbar {
  background-color: #23b7e5;
}

.brand-logo {
  color: #fff;  
}

/**
  * DW Timeline. 
  * All CSS in this section was used from the following source:
  * URL: http://www.designwall.com/wordpress/themes/dw-timeline/;
  * Accessed: 13/12/2014 13:23;
  */
.timeline {
  list-style: none;
  padding: 0 0 0px;
  position: relative;
  padding-bottom: 20px;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 1px;
  background-color: #d1d2d3;
  left: 60px
}
.timeline>li {
  margin-bottom: 20px;
  position: relative;
  margin-top: 30px
}
.timeline>li:after,
.timeline>li:before {
  content: " ";
  display: table
}
.timeline>li:after {
  clear: both
}
.timeline>li.timeline-separator:before {
  content: attr(data-datetime);
  display: inline-block;
  width: 145px;
  text-align: center;
  padding: 0 20px;
  line-height: 30px;
  border: 1px solid #e1e1e1;
  background-color: #f1f2f3;
  color: #a1a2a3
}

.timeline>li.timeline-end:before {
  width: 170px !important;
}

.timeline>li>.timeline-panel {
  position: relative;
  margin-left: 130px
}
.timeline>li>.timeline-panel .popover {
  position: relative;
  display: block;
  margin: 0;
  width: 100%;
  max-width: none;
  box-shadow: 0 2px 6px rgba(0,0,0,.2) !important;

}
.timeline>li>.timeline-panel .popover .arrow {
  display: none
}
.timeline>li>.timeline-panel .popover .popover-content .popover-title {
  background-color: transparent;
  border: 0;
  padding-left: 0;
  padding-top: 0
}
.timeline>li>.timeline-date {
  float: right;
  margin: -20px 0 0;
  display: block;
  height: 20px;
  line-height: 20px;
  font-size: 13px
}
.timeline>li>.timeline-date>time:after {
  content: attr(datetime)
}
.timeline>li>.timeline-badge {
  position: absolute;
  top: 0;
  left: 60px;
  width: 50px;
  height: 50px;
  border-radius: 500px;
  margin-left: -25px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  color: #fff;
  background-color: #999;
  z-index: 100;
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);

}
.timeline>li>.timeline-badge.primary {
  background-color: #5d9cec
}
.timeline>li>.timeline-badge.success {
  background-color: #27c24c
}
.timeline>li>.timeline-badge.warning {
  background-color: #ff902b
}
.timeline>li>.timeline-badge.danger {
  background-color: #f05050
}
.timeline>li>.timeline-badge.info {
  background-color: #23b7e5
}
.timeline-body>p,
.timeline-body>ul {
  margin-bottom: 0
}
.timeline-body>p+p {
  margin-top: 5px
}

@media only screen and (min-width:992px) {
  .timeline:before {
    left: 50%;
  }
  .timeline>li.timeline-separator {
    text-align: center
  }
  .timeline>li>.timeline-badge {
    left: 50%;
    margin-left: -24px;
  }
  .timeline>li>.timeline-date {
    float: none;
    position: absolute;
    width: 40%;
    left: 50%;
    top: 25px;
    margin-left: 75px;
    margin-top: -10px
  }
  .timeline>li>.timeline-panel {
    float: left;
    margin: 0;
    width: 46%%
  }
  .timeline>li>.timeline-panel:before {
    border-left-width: 15px;
    border-right-width: 0;
    top: 26px;
    right: -15px;
    left: auto
  }
  .timeline>li>.timeline-panel:after {
    border-left-width: 14px;
    border-right-width: 0;
    top: 27px;
    right: -14px;
    left: auto
  }
  .timeline>li>.timeline-panel .popover .arrow {
    top: 25px;
    display: block
  }
  .timeline>li.timeline-inverted>.timeline-panel {
    float: right;
  }
  .timeline>li.timeline-inverted .timeline-date {
    left: auto;
    right: 50%;
    width: auto;
    margin-left: 0;
    margin-right: 47px
  }
}

/* DW TIMELINE END */

/* FONT AWESOME */
.fa {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}