<div>
	<div ng-app="eBanking" ng-controller="transferController" ng-show="hasToken">
		<h2 class="page-header">Transfer between your accounts</h2>
		<div>
			<div ng-hide="!messages.transfer.err.err" class="alert alert-danger" role="alert">
				{{messages.transfer.err.stat}}<br>
				{{messages.transfer.err.message}}
			</div>
			<div ng-hide="!messages.transfer.success.success" class="alert alert-success" role="alert">
				{{messages.transfer.success.title}}
				{{messages.transfer.success.message}}
			</div>
		</div>
		<form role="form" ng-submit="processTransfer()" class="paddedForm">
			<div class="form-group">
				<label for="fromAccount">From Account</label>
				<select name="fromAccount" id="fromAccount" class="form-control" ng-model="transfer.accountNumber">
					<option value="{{account.accountNumber}}" ng-repeat="account in accountsList">
						{{account.accountType}} ({{account.accountNumber}}) - Balance: {{account.balance | currency : "£" : 2}}
					</option>
				</select>
			</div>
			<div class="form-group">
				<label for="transferAmount">Amount</label>
				<input type="number" step="0.01" class="form-control" id="transferAmount" placeholder="Enter Amount" ng-model="transfer.value" required>
			</div>
			<div class="form-group">
				<label for="toAccount">To Account</label>
				<select name="toAccount" id="toAccount" class="form-control" ng-model="transfer.otherAccountNumber">
					<option value="{{account.accountNumber}}" ng-repeat="account in accountsList">
						{{account.accountType}} ({{account.accountNumber}}) - Balance: {{account.balance | currency : "£" : 2}}
					</option>
				</select>
			</div>
			<button type="submit" class="btn btn-success btn-lg btn-block paddedButton">Transfer</button>
		</form>

		<h2 class="page-header">Make a payment</h2>		
		<div>
			<div ng-hide="!messages.payment.err.err" class="alert alert-danger" role="alert">
				{{messages.payment.err.stat}}<br>
				{{messages.payment.err.message}}
			</div>
			<div ng-hide="!messages.payment.success.success" class="alert alert-success" role="alert">
				{{messages.payment.success.title}}
				{{messages.payment.success.message}}
			</div>
		</div>
		<form role="form" ng-submit="processPayment()" class="paddedForm">
			<div class="form-group">
				<label for="fromAccount">From Account</label>
				<select name="fromAccount" id="fromAccount" class="form-control" ng-model="payment.accountNumber">
					<option value="{{account.accountNumber}}" ng-repeat="account in accountsList">
						{{account.accountType}} ({{account.accountNumber}}) - Balance: {{account.balance | currency : "£" : 2}}
					</option>
				</select>
			</div>
			<div class="form-group">
				<label for="paymentAmount">Amount</label>
				<input type="number" step="0.01" class="form-control" id="paymentAmount" placeholder="Enter Amount" ng-model="payment.value" required>
			</div>
			<div class="form-group">
				<label for="accountNumber">To Account Number</label>
				<input type="text" class="form-control" id="accountNumber" placeholder="Enter Account Number" ng-model="payment.otherAccountNumber" required>
				<span class="help-block"></span>
				<label for="sortCode">Sort Code</label>
				<input type="text" class="form-control" id="sortCode" placeholder="Enter Sort Code" ng-model="payment.otherSortCode" required>
				<span class="help-block"></span>
			</div>
			<button type="submit" class="btn btn-success btn-lg btn-block paddedButton">Make Payment</button>
		</form>
	</div>
</div>