<div ng-app="eBanking" ng-controller="detailsController" ng-show="hasToken">
	<h1 class="page-header">Customer Details</h1>
	<form role="form" ng-submit="processForm()" class="paddedForm">
		<div id="first-name-group" class="form-group">
			<label for="inputFirstName">First Name</label>
			<input type="text" class="form-control" id="inputFirstName" placeholder="Enter First Name" ng-model="details.firstName" ng-bind="details.firstName">
			<span class="help-block"></span>
		</div>
		<div id="last-name-group" class="form-group">
			<label for="inputSurname">Surname</label>
			<input type="text" class="form-control" id="inputSurname" placeholder="Enter Surname" ng-model="details.lastName" ng-bind="details.lastName">
			<span class="help-block"></span>
		</div>
		<div id="house-number-group" class="form-group">
			<label for="inputHouseNumber">House Number</label>
			<input type="text" class="form-control" id="inputHouseNumber" placeholder="Enter House Number" ng-model="details.address.houseNumber" ng-bind="details.address.houseNumber">
			<span class="help-block"></span>
		</div>
		<div id="street-group" class="form-group">
			<label for="inputStreet">Street</label>
			<input type="text" class="form-control" id="inputStreet" placeholder="Enter Street" ng-model="details.address.street" ng-bind="details.address.street">
			<span class="help-block"></span>
		</div>
		<div  id="postcode-group" class="form-group">
			<label for="inputPostCode">Postcode</label>
			<input type="text" class="form-control" id="inputPostCode" placeholder="Enter Postcode" ng-model="details.address.postCode" ng-bind="details.address.postCode">
			<span class="help-block"></span>
		</div>
		<div id="city-group" class="form-group">
			<label for="inputCity">City</label>
			<input type="text" class="form-control" id="inputCity" placeholder="Enter City" ng-model="details.address.city" ng-bind="details.address.city">
			<span class="help-block"></span>
		</div>
		<div id="county-group" class="form-group">
			<label for="inputCounty">County</label>
			<input type="text" class="form-control" id="inputCounty" placeholder="Enter County" ng-model="details.address.county" ng-bind="details.address.county">
			<span class="help-block"></span>
		</div>
		<div id="country-group" class="form-group">
			<label for="inputCountry">Country</label>
			<input type="text" class="form-control" id="inputCountry" placeholder="Enter Country" ng-model="details.address.country" ng-bind="details.address.country">
			<span class="help-block"></span>
		</div>
		<button type="submit" class="btn btn-success btn-lg btn-block paddedButton">
		Submit!
		</button>
	</form>
	<br>
	<div id="messages">
		<div ng-hide="!messages.details.err.err" class="alert alert-danger" role="alert">
			{{messages.details.err.title}}<br>
			{{messages.details.err.message}}
		</div>
		<div ng-hide="!messages.details.success.success" class="alert alert-success" role="alert">
			{{messages.details.success.title}}<br>
			{{messages.details.success.message}}
		</div>
	</div>
</div>